section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#formularioConsultar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Lexend Exa", sans-serif;
}
#formularioConsultar label, #formularioConsultar input {
    margin: 10px;
    text-align: center;
}
#inputID {    
    padding: 10px;
    border-radius: 40px;
}

/*
.mensajeError {
    display: flex;
    justify-self: center;
    border: 4px solid var(--rojoVaciar);
    color: var(--rojoVaciar);
    font-weight: 300;
    font-size: medium;
    padding: 20px;
    width: 250px;
    height: 50px;
    font-family: "Lexend Exa", sans-serif;
}
*/


.temaOscuro #formularioConsultar label {
    color: white;
}