section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

#formularioEliminar {
    display: flex;
    flex-direction: column;
}
#formularioEliminar label, #formularioEliminar input {
    margin: 10px;
    text-align: center;
}
#inputID {    
    padding: 10px;
    border-radius: 40px;
}
