main {
    flex: 1;
    display: flex;           
    justify-content: center; 
    align-items: flex-start; /*para centrar vertical*/
    
}


#entradaLogin {
    padding: 40px 20px;
    background-color: var(--violetaTransparente);
    flex-wrap: wrap;
    max-width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px; /**/
    border-radius: 20px;
}

#entradaLogin h1 {
    font-size: small;
    color: rgb(255, 255, 255);
    
}
#inputEmail, #inputContrasenia {
    margin: 10px;
    width: 75%;
    padding: 15px;
    border-radius: 40px;
    border-color: grey;
    margin-bottom: 20px;
    font-family: "Press Start 2P", cursive;
    font-size: smaller;
    border: none;
}
#botonContinuar, #botonAccesoRapido {
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: "Press Start 2P", cursive;
    font-size: smaller;
}

#botonCliente {
    padding: 10px;
    margin-top: 20px;

    background-color:var(--violetaTransparente);
    color: var(--violetaPrincipal);
    border-radius: 20px;
    font-family: "Press Start 2P", cursive;
    cursor: pointer;
    border: none;
}
.contenedorPassword {
    position: relative; /* Para que el ojo se posicione respecto a esto */
    width: 75%; /* El mismo ancho que tenías en tus inputs originales */
    margin: 0 auto 20px auto; /* Centrado y con margen abajo */
}

/* El input de contraseña */
#inputContrasenia {
    width: 100%; /* Ocupa todo el espacio del contenedor */
    box-sizing: border-box; /* IMPORTANTE: Para que el padding no lo deforme */
    margin: 0; /* El margen ya lo maneja el contenedor */
    padding-right: 40px; /* Dejamos espacio a la derecha para que el texto no toque el ojo */
}

/* El ojito flotante */
#iconoOjo {
    position: absolute;
    right: 15px; /* Pegado a la derecha */
    top: 50%;    /* A la mitad de altura */
    transform: translateY(-50%); /* Centrado vertical perfecto */
    width: 20px; /* Tamaño del icono */
    height: auto;
    cursor: pointer;
    opacity: 0.6; /* Un poco transparente para que no distraiga */
    transition: opacity 0.2s;
}

#iconoOjo:hover {
    opacity: 1; /* Al pasar el mouse se ve completo */
}

/* Ajuste para MODO OSCURO */
.temaOscuro #iconoOjo {
    filter: invert(100%); /* Invierte el color si el icono es negro */
}