section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#formularioModificar, #formularioModificarActualizado {
    font-family: "Lexend Exa", sans-serif;
    font-size: medium;
    width:40%;
    height: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#botonActualizarProducto{
    margin-top: 20px;
    margin-inline:43%;
    background-color: var(--grisVioleta);
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-family: "Lexend Exa", sans-serif;
    cursor: pointer;
}
#inputID {    
    padding: 10px;
    border-radius: 40px;
}

.temaOscuro #formularioModificar label, .temaOscuro #formularioModificarActualizado label {
    color: white;
}
/*RESPONSIVE */
@media (max-width: 768px) {
    
    #formularioModificar, #formularioModificarActualizado {
        width: 90%; 
        height: auto;
        padding: 20px; 
    }

 
    #inputID {
        width: 100%; 
        box-sizing: border-box; 
        margin: 10px 0;
    }

 
    #formularioModificar .botonFinal, 
    #formularioModificarActualizado .botonFinal {
        margin-inline: 0; 
        width: 100%;      
        margin-top: 20px; 
    }

    #botonActualizarProducto {
        margin-inline: 0 !important; 
        width: 100%;
        display: block;
        padding: 15px;
        margin-top: 20px;
    }

    #formularioModificarActualizado input, 
    #formularioModificarActualizado select {
        width: 100%;
        margin: 10px 0 !important; 
        box-sizing: border-box;
    }
}