section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#formularioModificar {
    font-family: "Lexend Exa", sans-serif;
    font-size: medium;
    width:40%;
    height: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.temaOscuro #formularioModificar label {
    color: white;
}