<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

    <main class="contenedorCarrito"> <!--contiene al carrito-->
        <!--<h1>Tu carrito</h1>-->
        <section id="carritoContenedor"><!--todos los prod--></section> <!--contiene lo que tiene el carrito-->

        <p id="totalCarrito"></p>

        <div id="contenedorBotonesCarrito">
            <button id="vaciarCarrito">Vaciar carrito</button>
            <button class="volverProductos" onclick="window.location.href='/productosCliente'">Volver a productos</button>    

            <button id="botonFinalizar" class="botonFinalizar" onclick="window.location.href=`/ticketCliente`">Finalizar Compra</button>
        </div>
    </main>
    <%- include("partials/footer.ejs") %>
<script defer src="/js/cliente/carrito.js"></script>
</body>
</html> 
