<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<main>
    <aside class="contenedorMenu">
            <section class="contenedorBotonesGestion">
                <button id="tituloPrincipal">Panel de gestion <img id ="flechaMenu"src="img/flechaAbajo.png" alt="flechaabajo"></button>
                <ul id="desplegableBotonesGestion" class="oculto">
                    <ol id="botonConsultar" onclick="consultarProducto()">Consultar Producto</ol>
                    <ol id="botonModificar" onclick="modificarProducto()">Modificar productos</ol>
                    <ol id="botonEliminar" onclick="eliminarProducto()">Eliminar productos</ol>
                    <ol id="botonCrear" onclick="crearProducto()">Crear Productos</ol>
                    <ol id="botonPantallaPrincipal" onclick="pantallaPrincipal()">Pantalla principal</ol>
                </ul>
            </section>
    </aside>
    <section>
        <form id="formAltaAdmin" autocomplete="off">
            <label for="nombreAdmin" " >Nombre</label>
            <input type="text" for="nombreAdmin"  id="inputNombreAdmin" name="nombre"  placeholder="Ingrese su nombre...">

            <label for="emailAdmin">Email</label>
            <input type="text" for="emailAdmin" id="inputEmailAdmin" name="email"  placeholder="Ingrese su email...">
            
            <label for="contraseniaAdmin">Contraseña</label>

            <div class="contenedorInputPassword">
            <input type="password" name="contrasenia" id="inputContraseniaAdmin" placeholder="Ingrese una contraseña..." required>
            <img src="img/ojoCerrado.png" id="ojoContraseniaAdmin" class="ojoIcono" alt="Ver contraseña">
            </div>
            <input type="submit" class="botonFinal" value="Crear" >
        </form>
    </section>
</main>
    <script defer src="/js/admin/crearUsuario.js"></script>
    <%- include("partials/footer.ejs") %>