<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<main>
    <h2><%= sobre %></h2>
</main>
<script defer src="/js/admin/crear.js"></script>
<%- include("partials/footer.ejs") %>