<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<main>
    <aside class="contenedorMenu">
            <section class="contenedorBotonesGestion">
                <button id="tituloPrincipal">Panel de gestion <img id ="flechaMenu"src="img/flechaAbajo.png" alt="flechaabajo"></button>
                <ul id="desplegableBotonesGestion" class="oculto">
                    <ol id="botonConsultar" onclick="consultarProducto()">Consultar Producto</ol>
                    <ol id="botonCrear" onclick="crearProducto()">Crear Productos</ol>
                    <ol id="botonModificar" onclick="modificarProducto()">Modificar productos</ol>
                    <ol id="botonEliminar" onclick="eliminarProducto()">Eliminar productos</ol>
                    <ol id="botonPantallaPrincipal" onclick="pantallaPrincipal()">Pantalla principal</ol>
                </ul>
            </section>
    </aside>
    <section>
        <form id="formularioEliminar">
            <label for="inputID">ID del producto</label>
            <input name="idProd" id="inputID" type="number" min="0" placeholder="Ingrese el id a eliminar...">
            
            <input class="botonFinal" type="submit" value="Eliminar producto">
        </form>
        <div id="gridProductos"></div> 
    </section>
</main>
<script defer src="/js/admin/eliminar.js"></script>
<%- include("partials/footer.ejs") %>