<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<main>
    <section id="entradaLogin">
        <h1>Bienvenido</h1>
            <form id="formIngreso"> <!--action="productos.html"action: redirecciona a la otra pagina-->
                <input id="inputNombre"type="text" placeholder="Ingrese su nombre..." autocomplete="off"> <!--autocomplete justamente para que no salten nombres anteriores-->
                <button id="botonContinuar">Continuar</button>
            </form>
        </section>
    </main>
<script src="js/admin/login.js"></script>
<%- include("partials/footer.ejs") %>