<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<main>
    <div id="contenedorLoginAdmin">
        <section id="entradaLogin">
            <h1> <%= sobre %></h1>
            <form id="formIngreso"> <!--action="productos.html"action: redirecciona a la otra pagina-->
                <input id="inputEmail"type="email" placeholder="Ingrese su email..." autocomplete="off"> <!--autocomplete justamente para que no salten nombres anteriores-->
                <input id="inputContrasenia"type="password" placeholder="Ingrese su constraseña..." autocomplete="off"> <!--autocomplete justamente para que no salten nombres anteriores-->
                <button id="botonContinuar">Continuar</button>
            </form>
        </section>
        <button id="botonCliente">Cliente</button>
    </div>
    </main>
    <%- include("partials/footer.ejs") %>
<script src="/js/admin/login.js"></script>
</body>
</html>