<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<main>
    <div class="contenedorSections">
        
        <aside class="contenedorMenu">
            <section class="contenedorBotonesGestion">
                <button id="tituloPrincipal">Panel de gestion <img id ="flechaMenu"src="img/flechaAbajo.png" alt="flechaabajo"></button>
                <ul id="desplegableBotonesGestion" class="oculto">
                    <ol id="botonConsultar" onclick="consultarProducto()">Consultar Producto</ol>
                    <ol id="botonCrear" onclick="crearProducto()">Crear Productos</ol>
                    <ol id="botonModificar" onclick="modificarProducto()">Modificar productos</ol>
                    <ol id="botonEliminar" onclick="eliminarProducto()">Eliminar productos</ol>
                </ul>
            </section>
        </aside>

        <section class="contenedorPrincipal">    
            <div id="botonesFiltroProd">
                <button id="botonConsolas">CONSOLAS</button>
                <button id="botonJuegos">JUEGOS</button>
                <button id="botonTodo">TODOS</button>
            </div>
            
            <section class="contenedorProductos">
                <div id="gridProductos"><!-- cartaProd --></div>
            </section>
            
            <div class="contenedorBotones">
                <button id="botonAtras"><img src="img/atras.png" alt="atras" /></button>
                <button id="botonSiguiente"><img src="img/adelante.png" alt="siguiente" /></button>
            </div>
        </section>
    </div>
    </main>
<%- include("partials/footer.ejs") %>
<script defer src="/js/admin/productos.js"></script>
</body>
</html>
