<%- include("partials/head.ejs") %>
<%- include("partials/headerMenuCliente.ejs") %>
<main>
  <section class="contenedorPrincipal">
    <h1 id="tituloPrincipal">Productos de la tienda JoyStiq</h1>

    <div id="botonesFiltroProd">
      <button id="botonConsolas">CONSOLAS</button>
      <button id="botonJuegos">JUEGOS</button>
      <button id="botonTodo">TODOS</button>
    </div>

    <section class="contenedorProductos">
<div id="gridProductos">
</div>    </section>

    <div class="contenedorBotones">
      <button id="botonAtras">
        <img src="/img/atras.png" alt="atras" />
      </button>

      <button id="botonSiguiente">
        <img src="/img/adelante.png" alt="siguiente" />
      </button>
    </div>

    <button id="botonCarrito" class="botonCarrito">
      <img src="/img/carrito.png" alt="icono-carrito" />
      <span id="contadorCarrito" class="contadorCarrito">0</span>
    </button>
  </section>
</main>
<%- include("partials/footer") %>
<script src="/js/cliente/productos.js"></script>
</body>
</html>