
<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

   <main>
        <section id="contenedorTicket"> 
            <div id="ticket">
                <div id="infoGeneralTicket">  <!-- no se si importa q este esto ah-->
                    <h1 class="ticketTitulo">JoyStiq</h1>
                    <p id="fechaTicket">Fecha y hora</p> <!--traido de js tamb-->
                    <div id="infoClienteYPedido">
                        <h2 id="numeroPedido">N°Pedido:(autoincremental)</h2> <!--manejo en js-->
                        <p id="clienteTicket"></p> <!-- " " -->
                    </div>
                </div>
                <div id="infoProductosTicket">
                    <div id="productosTicket"> 
                        <!-- productos del carrito-->
                    </div>
                    <p id="totalTicket">Total: 0 </p> <!-- de js-->
                    <h3 id="agradecimientoTicket">¡Muchas gracias por su compra!</h3>
                </div>
            </div>
                <div id="contenedorBotonesFinalizar">     
                    <button class="botonDescargar" id="descargarPdf">Descargar .PDF</button>
                    <button class="botonDescargar" id="descargarExcel">Descargar .excel</button>
                    <button id="botonFinalizar" >Finalizar</button>
                </div>    
            </section>
                
    </main>
    <%- include("partials/footer.ejs") %>
<script defer src="/js/cliente/ticket.js"></script>

</body>
</html>
