/*  
    ACA VAN A ESTAR OS GENERALES GENERALES, FOOTER, NAV , ROOT CON VARIABLES, MENU DESPLEGABLE 
*/

:root {
    --violetaPrincipal :rgb(100, 47, 150);
    --violetaClaro: rgb(157, 121, 241);
    --violetaOscuro:  #5e319d; /*LO QUE ES LA TECNOLOGIA*/
    --violetaTransparente : rgba(100, 47, 150, 0.692); /*ESTE ES EL QUE SE USA SIEMPRE*/
    --grisVioleta: rgb(208, 189, 219);

    --rojoBorrar: rgb(255, 0, 0);
    --rojoVaciar: rgb(255, 78, 78);
    --rojoVaciarFuerte: rgb(240, 40, 40);
    --verdeFinalizar:  rgb(48, 160, 48);
    --verdeClaro: rgb(71, 196, 71);
    
    /*modo oscuro*/
    --fondoModoOscuro: rgb(25, 9, 36);
    --violetaModoOscuro: rgb(45, 4, 71);
    --verdeOscuro: rgb(28, 175, 28);
    --rojoModoOscuro: rgb(94, 11, 11);
    --verdeModoOscuro: rgb(24, 107, 24);

    /*esto es de ticket*/
    --celesteClaro:  rgb(161, 227, 247);
    --violetaFinalizar: rgb(85, 85, 177);
}

* {
    margin: 0;
    padding: 0;
    
}
html, body {
    height: 100%;
}
body {
    font-family: "Press Start 2P", cursive;
    font-size:small;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /*EL FOOTER PEGADO AL PISO*/
}

body.temaOscuro {
    background-color: var(--fondoModoOscuro);
}

/*barra alta de header*/
header {
    background-color:var(--violetaTransparente);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*padding: 10px 20px;*/
}
.logoConNombre {
    width: 150px;
    margin: 8px 20px;
}

/*boton que aparece en todas las vistas para cerrar sesion*/
#cerrarSesion {
    padding: 10px;
    border-radius: 20px;
    font-family: "Lexend Exa", sans-serif;
    background-color: var(--grisVioleta);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.botonTema {
    margin: 20px 40px;
    cursor: pointer;
    background: none;
    border: none;
}
.botonTema img{
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

/*MENU DESPLEGABLE PARA MANEJO*/

.contenedorMenu {
    width: 200px;
}
.contenedorBotonesGestion {
    display: inline-block;
    position: absolute;  
    margin: 0 auto;
}

#tituloPrincipal {
    border: none;
    padding: 20px;
    font-family: "Lexend Exa", sans-serif;
    background-color: var(--grisVioleta);
    border-radius: 20px;
    margin: 20px 20px;
}
/*menu desplegable*/
#flechaMenu {
    padding-left: 7px;
    padding: auto;
    width: 16px;
}

#desplegableBotonesGestion {
    margin-left: 18px;
    top: 100%;
}


#botonCrear, #botonModificar, #botonEliminar, #botonConsultar, #botonPantallaPrincipal, #botonCrearAdmin {
    border: none;
    padding: 20px;
    margin-top: 5px;
    font-family: "Lexend Exa", sans-serif;
    background-color: white;
    border-radius: 15px;
    background-color: var(--grisVioleta);
    cursor: pointer;
}
.oculto {
    display: none; 
}

/*MENU EN MODO OSCURO*/
.temaOscuro #flechaMenu {
    filter: invert(100%);
}
.temaOscuro #tituloPrincipal, .temaOscuro #botonCrear, .temaOscuro #botonModificar,.temaOscuro  #botonEliminar,.temaOscuro  #botonConsultar,
.temaOscuro #botonPantallaPrincipal, .temaOscuro #botonCrearAdmin{
    background-color: var(--violetaTransparente);
    color: white;

}

/*FOOTER*/

footer {
    background-color: var(--violetaTransparente);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}
.logoFooter {
    width: 25px;
    padding-right: 10px;
    filter: invert(100%);
}

/*TEMA OSCURO*/
.temaOscuro footer p{
    filter: invert(100%);
}

.temaOscuro .logoFooter{
    filter: invert(0%); /*vuelve a su color normal que antes ya fue modificado*/
}
.temaOscuro .botonTema img {
    filter: invert(0%);
}
.temaOscuro #cerrarSesion {
    background-color: var(--violetaPrincipal);
    color: rgb(255, 255, 255);
}


/*formularios de crear y modificar */

/*son los input de formularios*/
/*
    de altaadmin/modifiar/crear
*/
#inputNombreProducto, #inputPrecioProducto, #inputImagenProducto, #inputNombreAdmin, #inputEmailAdmin, #inputContraseniaAdmin{
    padding: 20px;
    margin: 10px 40px;
    border-radius: 40px;
    border-style:solid;
    border-color: var(--violetaClaro);
    font-family: "Lexend Exa", sans-serif;
    font-size:smaller
}
#inputCategoriaProducto, #inputActivoProducto{
    font-family: "Lexend Exa", sans-serif;
    color: gray;
    padding: 10px;
    margin: 10px 40px;
    border-style:solid;
    border-color: var(--violetaClaro);
}
select:focus {
    font-family: "Lexend Exa", sans-serif;
}

/*boton de formularios para finalizar*/
.botonFinal {
    padding: 15px;
    border-radius: 50px;
    margin: 20px;
    margin-inline: 150px;
    border: none;
    background-color: var(--violetaClaro);
    font-family: "Lexend Exa", sans-serif;
    cursor: pointer;
}

/*mostrarProducto en consulta y eliminar*/

.cartaUnProducto {
    border: 4px solid var(--grisVioleta);
    padding: 10px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    max-width: 230px;
    max-height: 350px;
}
.cartaUnProducto h3, .cartaUnProducto p{
    font-family: "Lexend Exa", sans-serif;
    margin-top: 10px;

}
.productoImagen{
    width: 150px;
}

.temaOscuro .cartaProducto h3, .temaOscuro .cartaProducto p {
    color: white;

}



.temaOscuro #inputNombreProducto, .temaOscuro #inputPrecioProducto, .temaOscuro #inputImagenProducto, .temaOscuro #inputCategoriaProducto,
.temaOscuro #inputNombreAdmin, .temaOscuro #inputEmailAdmin, .temaOscuro #inputContraseniaAdmin{
    background-color: black;
    border-color: rgba(255, 255, 255, 0.623); /*un poco mas claro para que no haga tanto contraste*/
    color: white;
}
.temaOscuro #botonFinal {
    background-color:white;
}