<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="icon" href="/img/logoSinFondo.png" >
    <link rel="stylesheet" href="/css/estilosGenerales.css"> <!-- ESTE ES EL QUE TODOS TIENEN, TIENE ESTILOS DE HEADER,FOOTER-->
    <link rel="stylesheet" href="/css/<%= css %>"> <!--para poner el css especifico de cada archivo-->
    <script defer src="/js/temaOscuro.js"></script> <!-- ESTE TAMBIEN LO TIENEN TODOS PORQ ES LA FUNCIONALDIAD DE MODO OSCURO-->
    <script defer src="/js/menuDesplegable.js"></script>

    <!--FUENTES-->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap" rel="stylesheet"> <!--FALTABAN ESTAS FUENTES    -->
</head>

<body>