<header>
    <img class="logoConNombre" src="img/logoSinFondoClaro.png" alt="JoyStiq-logo">
    <button class="botonTema" id="botonTema"><img src="img/modoOscuro.png" alt="TemaDispositivo"></button>        
        
</header>