<header>
    <img class="logoConNombre" src="/img/logoSinFondoClaro.png" alt="JoyStiq-logo" />

    <div class="buscador">
        <input 
            id="inputFiltro" 
            type="text" 
            placeholder="Busca productos..."
        >
        <button class="botonBuscar">
            <img src="/img/lupa.png" alt="Buscar">
        </button>
    </div>
    
    <h1 id="nombreCliente"></h1> 
    
    <button class="botonTema" id="botonTema">
        <img src="/img/modoOscuro.png" alt="TemaDispositivo">
    </button> 
</header>