<header>
    <img class="logoConNombre" src="img/logoSinFondoClaro.png" alt="JoyStiq-logo">
    <%=sobre %>
    <button class="botonTema" id="botonTema"><img src="img/modoOscuro.png" alt="TemaDispositivo"></button>      
</header>
