<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda JoyStiq - TP</title>
    <link rel="icon" href="img/logoSinFondo.png" >
    <link rel="stylesheet" href="css/admin/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <!--<script src="js/login.js" defer></script> -->
    <script defer src="js/tema.js"></script>
</head>

<body>