:root {
    --rojoBorrar: rgb(255, 0, 0);
    --rojoVaciar: rgb(255, 78, 78);
    --rojoVaciarFuerte: rgb(240, 40, 40);
    --verdeFinalizar:  rgb(48, 160, 48);
    --verdeClaro: rgb(71, 196, 71);
    --verdeOscuro: rgb(28, 175, 28);

    --grisVioleta: rgb(208, 189, 219);

    --rojoModoOscuro: rgb(94, 11, 11);
    --verdeModoOscuro: rgb(24, 107, 24);
}

.contenedorCarrito {
    /*max-width: 900px;*/
    margin: 30px 80px;
    text-align: center;
}

/*cuando esta lleno*/
#carritoContenedor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}
#carritoContenedor p, h1 {
    color: white;
}

#contenedorCarritoVacio img {
    margin: auto;
    width: 150px;
}

/*carritoVacio*/ 
#contenedorCarritoVacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 25px;
    width: 800px;
    height: 280px;
    background-color: var(--grisVioleta);
}
#contenedorCarritoVacio p {
    margin-top: 20px;
    
}

.itemCarrito {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--violetaTransparente);
    padding: 15px;
    border-radius: 10px;
}

.itemCarrito img, .itemCarrito h3, .itemCarrito p, .itemCarrito button {
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
}
.itemCarrito button{
    padding: 5px 7px;
    border-radius: 5px;
    border-color: var(--rojoVaciarFuerte);
    color: var(--rojoVaciarFuerte);
    background-color: rgb(255, 247, 247);
    font-family: "Press Start 2P", cursive;
    font-size: x-small;
}
.itemCarrito img {
    width: 100px;
    border-radius: 10px;
}

.itemCarrito h3 {
    flex: 1;
    margin-left: 20px;
    font-family: "Lexend Exa", sans-serif;
}

#totalCarrito {
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
    color: black;
}


/*BOTONESSSSS - ordené por que se pisaban los estilos*/

/*el active es completo necesario? si cuando se clickea al toke hace la 
accion que encima son cambio de vistas*/

#contenedorBotonesCarrito {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: auto; /*to a la derecha*/
}

/*solo estilo general de todos los botones*/
main button {
    color: white;
    border: none;
    padding: 12px 22px;
    margin: 10px 5px;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    transition: background-color .2s, transform .1s;
}

#vaciarCarrito {
    background-color: var(--rojoVaciarFuerte) ;
}

#vaciarCarrito:hover { 
    background-color: var(--rojoVaciar);
    transform: translateY(-2px); /*...comom un movimiento en eje y..*/
}

#vaciarCarrito:active {
    background-color: var(--rojoBorrar);
    transform: scale(0.95);
}
#vaciarCarrito:disabled {
    background-color: var(--rojoVaciar);
    cursor:not-allowed;
    transform: none;
}

.volverProductos {
    background-color: var(--violetaPrincipal);
}

.volverProductos:hover {
    background-color: var(--violetaTransparente);
    transform: translateY(-2px);
}

.volverProductos:active {
    background-color: var(violetaOscuro);
    transform: scale(0.95);
}

.botonFinalizar {
    background-color: var(--verdeFinalizar);
}

.botonFinalizar:hover {
    background-color:var(--verdeClaro);
    transform: translateY(-2px);
}

.botonFinalizar:active {
    background-color: var(--verdeOscuro);
    transform: scale(0.95);
}

.botonFinalizar:disabled {
    background-color: var(--verdeClaro);
    cursor: not-allowed;
    transform: none;
}

/*modo oscuro*/
.temaOscuro #carritoContenedor p, .temaOscuro #carritoContenedor h1, .temaOscuro #carritoContenedor h3{
    color: black;
}

.temaOscuro .itemCarrito button {
    background-color: var(--violetaModoOscuro);
    color: rgb(255, 255, 255);
}
.temaOscuro #totalCarrito {
    color:white ;
}
.temaOscuro #vaciarCarrito {
    background-color: var(--rojoModoOscuro);
}
.temaOscuro .volverProductos {
    background-color: var(--violetaModoOscuro);
}
.temaOscuro .botonFinalizar {
    background-color: var(--verdeModoOscuro);
}