#ticket {
    border: 2px dotted;
}
#contenedorTicket {
    /*border: 4px solid red;*/
    margin: 30px auto;
    max-height: 500px;
    width: 650px;

}

#fechaTicket, #numeroPedido, #clienteTicket, #agradecimientoTicket{
    color: black;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#infoClienteYPedido {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#infoGeneralTicket {
    padding: 10px;
}
.ticketTitulo{
    font-size: larger;
    color: var(--violetaPrincipal);
    text-align:center;
    margin: 5px;
}


/*ticket*/
#contenedorDeProducto {
    /* contenedor de info por producto, su nombre,subtotal y cantidad*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.descripcionProducto {
    /*esta clase esta con el nombre, cantidad y subtotal*/
    display: flex;
    color: black;
    padding: 4px;
}

/*descargar y Finalizar*/
#contenedorBotonesFinalizar {
    text-align: right; /*todo a la derecha*/
}

#contenedorBotonesFinalizar button{
    padding: 9px;
    cursor: pointer;
}
.botonDescargar {
    background-color: var(--verdeClaro);
}
#botonFinalizar {
    background-color:var(--violetaFinalizar);
}

/*modo oscuro*/
.temaOscuro #ticket {
    border: 2px dotted white;
}
.temaOscuro #fechaTicket, .temaOscuro #numeroPedido, .temaOscuro #clienteTicket, .temaOscuro #agradecimientoTicket, .temaOscuro .descripcionProducto {
    color: white;
}

.temaOscuro #botonFinalizar {
    background-color: var(--violetaModoOscuro);
}
.temaOscuro .botonDescargar {
    background-color: var(--verdeModoOscuro);
}